# Ignoriere temporäre Sicherungsdateien vom Ubuntu-Editor und OpenOffice
*~
.*.swp
.~lock.*.odt#
.~lock.*.doc#

# Ignoriere Python-Cache-Ordner
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignoriere eventuelle LaTeX-Hilfsdateien
*.aux
*.log
*.toc
*.out
*.synctex.gz
